.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(7, auto);
    color: lightgray;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.calendar-grid > div {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.calendar-weekdays-name {
    color: black;
}

.current-month {
    color: black;
}

.current-day {
    color: red;
    font-weight: bolder;
}

.not-current-month > p {
    visibility: hidden;
}
